@import "./variables";

@mixin tablet {
    @media all and (min-width: 576px) {
        @content;
    }
}

@mixin tablet-large {
    @media all and (min-width: 870px) {
        @content;
    }
}

@mixin monitor {
    @media all and (min-width: 1200px) {
        @content;
    }
}


@mixin btn($width: 190px){
    height: 50px;
    width: $width;
    color: white;
    background: rgb(171,94,219);
    background: linear-gradient(337deg, rgba(171,94,219,1) 40%, rgba(232,114,218,1) 80%);
    border-radius: 25px;
    border: none;
    box-shadow: $box-shadow;
}

@mixin nav-card($color: $bg-color){
    height: 75px;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    background-color: $color;
    border-radius: $brd-radius-crd;
    box-shadow: $box-shadow;
    margin: 12px 0 12px 0;

}

@mixin restaurant-card {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: $brd-radius-crd;
    margin: 10px 0 10px 0;
}

@mixin dish-card {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border-radius: $brd-radius-crd;
    box-shadow: $box-shadow;
    margin: 8px 0 8px 0;
}

