@import "./variables";

@mixin tablet {
    @media all and (min-width: 576px) {
        @content;
    }
}

@mixin tablet-large {
    @media all and (min-width: 870px) {
        @content;
    }
}

@mixin monitor {
    @media all and (min-width: 1200px) {
        @content;
    }
}


@mixin btn($width: 190px){
    height: 50px;
    width: $width;
    color: white;
    background: $btn-color;
    background: $btn-gradient;
    border-radius: 25px;
    border: none;
    box-shadow: $box-shadow;
}

@mixin btn-hover {
    box-shadow: $box-shadow-hover;
    background: $btn-gradient-lighter-a;
    background: $btn-color-hover;
}

@mixin nav-card($color: $bg-color){
    height: 75px;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    background-color: $color;
    border-radius: $brd-radius-crd;
    box-shadow: $box-shadow;
    margin: 12px 0 12px 0;

}

@mixin restaurant-card {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: $brd-radius-crd;
    margin: 10px 0 10px 0;
}

@mixin dish-card {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    border-radius: $brd-radius-crd;
    box-shadow: $box-shadow;
    margin: 8px 0 8px 0;
}

@keyframes menu-rollup {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
    }
}