$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$misc-color: #f5edff;
$bg-color: #f6f6f6;
$drkbg-color: #eaeaea;

$btn-color: rgb(171,94,219);
$btn-color-lighter: rgba(232,114,218,1);
$btn-gradient: linear-gradient(350deg, rgba(171,94,219,1) 50%, rgba(232,114,218,1) 80%);
$btn-brd-radius: 25px;

$btn-gradient-lighten-a: lighten($btn-color, 3%);
$btn-gradient-lighten-b: lighten($btn-color-lighter, 3%);
$btn-color-hover: linear-gradient(350deg, $btn-gradient-lighten-a 50%, $btn-gradient-lighten-b 80%);


$box-shadow: 0px 3px 10px lightgrey;
$box-shadow-hover: 0px 10px 15px lightgrey;
$brd-radius-crd: 15px;
$spinner-shadow: 5px 0px 5px lightgrey;
