@import "./../utils/variables";
@import "./../utils/mixins";

button.btn.btn--wide {
    @include btn(220px);
}

button.btn {
    @include btn;
}

.btn--position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 35px 0 90px 0;
}