@import "./../utils/variables";

* {
    font-size: 1em;
    font-weight: normal;
    padding-inline-start: 0px;
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    &__logo {
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        box-shadow: $box-shadow;
        &--arrow {
            position: absolute;
            left: 15px;
            font-size: 0.6em;
        }        
    }
    &__img {
        width: 100%;
        height: auto;
        max-height: 300px;
        object-fit: cover;
    }
}


.section {
    width: 100%;
    background-color: $bg-color;
    border-radius: 30px 30px 0 0;
    &__restaurant {
        position: relative;
        bottom: 40px;
        background-color: $bg-color;
        border-radius: 35px 35px 0 0;
        padding: 35px 25px 0 15px;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        padding: 0 15px 0 15px;
        &--category {
            margin-bottom: 30px;
        }
        @include tablet-large {
            &--category {
                width: 32%;
            }
        }        
    }
    @include tablet-large {
        &__menu {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

.restaurant-name {
    &__text {
        max-width: 1440px;
        display: flex;
        font-size: 1.7em;
        margin: 0 auto 0 auto;          
        &--heart-empty {
            position: relative;
            left: 27px;
            z-index: 2;
            color: grey;
            opacity: 1;
            transition: opacity 150ms;
            &:hover {
                opacity: 0;
            }
            &:hover + .section__restaurant-name--heart-filled {
                transform: scale(1);
            }           
        }        
        &--heart-filled {
            color: $color-secondary;
            transform: scale(0);
            transition: transform 250ms;
        }
    }
}


.dish-type {
    display: inline-block;
    position: relative;
    color: grey;
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 0px 0 20px 0;
    &::before {
        content:"";
        position: absolute;
        width: 45px;
        bottom: -8px;
        left: 0;
        border-bottom: 3px solid lightgrey;
    }
    &__dish-card {
        @include dish-card;
        &:hover > .dish-type__dish-card--animation {
            min-width: 70px;
            transform: translateX(0px);
            & i {
                transform: rotate(1turn);
            }
        }
        animation: menu-rollup 1000ms 500ms both;
        @for $i from 1 through 4 {
            &--#{$i} {
                animation-delay: 250ms * $i;
            }
        }
        &:hover > .dish-type__dish-card--price {
            transform: translateX(0);
        }
        &--details {
            width: max-content;
            min-width: 0;
            font-size: 1.15em;
            font-weight: bold;
            margin: auto 10px auto 10px;
            h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                font-size: 0.95em;
                color: grey;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &--price {
            width: max-content;
            margin: auto 15px 12px auto;            
            font-size: 0.95em;
            font-weight: bold;         
        }
        &--animation {
            height: 70px;
            width: 0px;
            min-width: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-tertiary;
            border-radius: 0 15px 15px 0;
            transform: translateX(70px);
            transition: all 600ms ease;    
            i {
                height: 25px;
                width: 25px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: $color-tertiary;
                background-color: white;
                border-radius: 50%;
                transform: rotate(0turn);
                transition: transform 600ms ease;
            }
        }       
    }
}

.footer {
    color: white;
    background-color: #353535;
    padding: 20px 0 25px 20px;
    &__container {
        max-width: 1440px;
        margin: 0 auto 0 auto;    
        &--logo {
            font-size: 1.1em;
            margin-bottom: 15px;
        }
        &--list {
            font-size: 0.95em;
            line-height: 25px;
        }
    }
}

.footer-list {
    &__icon-a {
        font-weight: bold;
        i {
        font-size: 0.7em;
        margin-right: 11px;
        }
    }
    &__icon-b {
        font-weight: bold;
        i {
        font-size: 0.60em;
        margin-right: 9px;
        }
    }
}