@import "./../utils/variables";
body
{
    margin-left: auto;
    margin-right: auto;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}

.header {
    display:flex;
    flex-direction: column;
    text-align: center;
    &__logo {
        h1 {
            display: inline-flex;
            align-items: center;
            height: 65px;
        }
    }
    &__current-location {
        background-color: grey;
        &--text {
            height: 50px;
            display: inline-flex;
            align-items: center;
        }
        &--icon {
            position: relative;
            right: 10px;
        }
    }
    &__intro {
        background-color: lightgrey;
        padding: 20px 30px 30px 30px;
        &--text {
            margin-bottom: 15px;
            h2 {
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }
}

