@import "./../utils/variables";

* {
    font-size: 1em;
    font-weight: normal;
    padding-inline-start: 0px;
    margin: 0px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.header {
    width: 100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    &__logo {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        box-shadow: $box-shadow;
        i.fa-arrow-left{
            font-size: 0.6em;
        }
    }
    &__img {
        width: 100%;
        height: auto;
        max-height: 300px;
        object-fit: cover;
    }
}


.section {
    position: relative;
    bottom: 40px;
    width: 100%;
    background-color: $bg-color;
    border-radius: 30px 30px 0 0;
    &__restaurant-name {
        display: flex;
        justify-content: space-between;
        font-size: 1.7em;
        padding: 25px 15px 0 15px;
        i {
            font-size: 0.9em;
            color: grey;
        }
        .far {
            position: relative;
            z-index: 2;
            left: 24px;
            &:hover + .fas {
                transform: scale(1);
                z-index: 2;
            }
        }
        .fas {
            position: relative;
            z-index: 1;
            color: $color-secondary;
            transform: scale(0);
            transition: transform 300ms;
        }

    }
    &__menu {
        display: flex;
        flex-direction: column;
        padding: 25px 15px 25px 15px;
        @include tablet-large {
            &--category {
                width: 32%;
            }
        }        
    }
    @include tablet-large {
        &__menu {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}


.dish-type {
    color: grey;
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 30px 0 20px 0;
    &__dish-card {
        @include dish-card;
        &--name {
            font-size: 1.15em;
            font-weight: bold;
            margin: 5px 10px 0 10px;
        }
        &--details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 15px 0 10px;
            p:first-child {
                width: 85%;
                font-size: 0.95em;
                color: grey;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            p:last-child {
                font-size: 0.95em;
                font-weight: bold;
            }
        }
    }
}

.footer {
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #353535;
    padding: 20px 0 25px 20px;
    &__logo {
        margin-bottom: 15px;
    }
    &__list {
        font-size: 0.95em;
        line-height: 25px;
        &--icon-a i {
            font-size: 0.7em;
            margin-right: 11px;
        }
        &--icon-b i{
            font-size: 0.60em;
            margin-right: 9px;
        }
    }
}
