@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}
.header__logo, .footer__logo, .menu__restaurant-name {
  font-family: "Shrikhand";
}

body {
  font-family: "Roboto";
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

footer a {
  color: white;
}

button.btn.btn--wide {
  height: 50px;
  width: 220px;
  color: white;
  background-color: #9356DC;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 3px 10px lightgrey;
}

button.btn {
  height: 50px;
  width: 190px;
  color: white;
  background-color: #9356DC;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 3px 10px lightgrey;
}

* {
  font-size: 1em;
  font-weight: normal;
  padding-inline-start: 0px;
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__logo {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  box-shadow: 0px 3px 10px lightgrey;
}
.header__logo i.fa-arrow-left {
  font-size: 0.6em;
}
.header__bg--img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.menu {
  position: relative;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 20px 20px 40px 20px;
  border-radius: 40px 40px 0 0;
}
.menu__restaurant-name {
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
  padding: 15px 10px 0 0;
}
.menu__restaurant-name i {
  font-size: 0.9em;
  color: #FF79DA;
}
.menu__btn--position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 35px 0 0 0;
}

.dish-type {
  color: grey;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 30px 0 20px 0;
}
.dish-type__dish-card {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 10px lightgrey;
  margin: 8px 0 8px 0;
}
.dish-type__dish-card--name {
  font-size: 1.15em;
  font-weight: bold;
  margin: 5px 10px 0 10px;
}
.dish-type__dish-card--details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px 0 10px;
}
.dish-type__dish-card--details p:first-child {
  width: 85%;
  font-size: 0.95em;
  color: grey;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dish-type__dish-card--details p:last-child {
  font-size: 0.95em;
  font-weight: bold;
}

.footer {
  position: relative;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding: 20px 0 25px 20px;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__list {
  font-size: 0.95em;
  line-height: 25px;
}
.footer__list--icon-a i {
  font-size: 0.7em;
  margin-right: 11px;
}
.footer__list--icon-b i {
  font-size: 0.6em;
  margin-right: 9px;
}

.header__current-location {
  background-color: #eaeaea;
}
.header__current-location--text {
  height: 50px;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}
.header__current-location--icon {
  position: relative;
  right: 15px;
}
.header__intro {
  background-color: #f6f6f6;
  padding: 40px 0 50px 0;
}
.header__intro--text {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.header__intro--text h2 {
  font-size: 1.65em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 30px 0 30px;
}
.header__intro--text p {
  color: grey;
  font-size: 1.2em;
}

.guide {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 25px 12px 25px;
}
.guide__title {
  display: inline-flex;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}
.guide__menu {
  /* media query here*/
}
.guide__menu--step {
  height: 75px;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 3px 10px lightgrey;
  margin: 12px 0 12px 0;
}
.guide__menu--step i {
  color: grey;
  font-size: 1.25em;
  margin: 0 25px 0 40px;
}
.guide__menu--steplightblue {
  height: 75px;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  background-color: #f5edff;
  border-radius: 15px;
  box-shadow: 0px 3px 10px lightgrey;
  margin: 12px 0 12px 0;
}
.guide__menu--steplightblue i {
  color: #9356DC;
  font-size: 1.25em;
  margin: 0 25px 0 40px;
}

.section {
  width: 100%;
  background-color: #f6f6f6;
}
.section__title {
  align-self: flex-start;
  font-size: 1.5em;
  font-weight: bold;
  margin: 50px auto 0 20px;
}
.section__restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 60px 20px;
  /* media query here*/
}
.section__restaurants--card {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 0px 3px 10px lightgrey;
  border-radius: 15px;
  margin: 10px 0 10px 0;
}

.card-content__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card-content__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 10px 5px 12px;
}
.card-content__bottom--text {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-size: 1.15em;
  line-height: 25px;
}
.card-content__bottom--text h3 {
  font-weight: bold;
}
.card-content__bottom--heart {
  color: #FF79DA;
  align-self: center;
  font-size: 1.5em;
}

/*# sourceMappingURL=style.css.map */
