@keyframes menu-rollup {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes spinner-bg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-roll {
  0% {
    transform: translateX(-1450px) scaleX(1.2) scaleY(0.8);
  }
  79% {
    transform-origin: 100% 100%;
    transform: rotate(8deg);
  }
  80% {
    transform: translateX(0px);
  }
  85% {
    transform-origin: 0% 100%;
    transform: rotate(-4deg);
  }
  90% {
    transform-origin: 100% 100%;
    transform: rotate(2deg);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes bell-reveal {
  from {
    transform: translateY(20px) rotate(0deg);
  }
  to {
    transform: translateY(-20px) rotate(-15deg);
  }
}
@keyframes wheels {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(6turn);
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url(../fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-light";
  src: url(../fonts/Roboto-Light.ttf);
}
.header__logo, .restaurant-name__text, .footer__container--logo, .animation__logo {
  font-family: "Shrikhand";
}

body {
  font-family: "Roboto";
}

p {
  font-family: "Roboto-light";
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

footer a {
  color: white;
}

@keyframes menu-rollup {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes spinner-bg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-roll {
  0% {
    transform: translateX(-1450px) scaleX(1.2) scaleY(0.8);
  }
  79% {
    transform-origin: 100% 100%;
    transform: rotate(8deg);
  }
  80% {
    transform: translateX(0px);
  }
  85% {
    transform-origin: 0% 100%;
    transform: rotate(-4deg);
  }
  90% {
    transform-origin: 100% 100%;
    transform: rotate(2deg);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes bell-reveal {
  from {
    transform: translateY(20px) rotate(0deg);
  }
  to {
    transform: translateY(-20px) rotate(-15deg);
  }
}
@keyframes wheels {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(6turn);
  }
}
.btn.btn--wide {
  height: 50px;
  width: 220px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  background: linear-gradient(350deg, #ab5edb 50%, #e872da 80%);
  border-radius: 25px;
  box-shadow: 0px 3px 10px lightgrey;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.btn.btn--wide:hover::after {
  opacity: 1;
}
.btn.btn--wide::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(350deg, #b26bde 50%, #ea7fdd 80%);
  border-radius: 25px;
  box-shadow: 0px 10px 15px lightgrey;
  z-index: -1;
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.btn {
  height: 50px;
  width: 190px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  background: linear-gradient(350deg, #ab5edb 50%, #e872da 80%);
  border-radius: 25px;
  box-shadow: 0px 3px 10px lightgrey;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(350deg, #b26bde 50%, #ea7fdd 80%);
  border-radius: 25px;
  box-shadow: 0px 10px 15px lightgrey;
  z-index: -1;
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.btn--position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0 55px 0;
}

* {
  font-size: 1em;
  font-weight: normal;
  padding-inline-start: 0px;
  margin: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__logo {
  height: 60px;
  width: 100%;
  max-width: 1440px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: auto;
}
.header__logo--arrow {
  position: absolute;
  left: 15px;
  font-size: 0.6em;
}
.header__img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.section {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}
.section__restaurant {
  position: relative;
  bottom: 40px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  padding: 25px 25px 0 15px;
}
.section__menu {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  margin: 0 auto 0 auto;
}
.section__menu--category {
  margin-bottom: 30px;
}
@media all and (min-width: 870px) {
  .section__menu--category {
    width: 32%;
  }
}
@media all and (min-width: 870px) {
  .section__menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.restaurant-name__text {
  max-width: 1420px;
  display: flex;
  font-size: 1.7em;
  margin: 0 auto 0 auto;
}
.restaurant-name__text h2 {
  margin-right: auto;
}
.restaurant-name__text--heart-empty {
  position: relative;
  left: 27px;
  z-index: 2;
  color: grey;
  opacity: 1;
  transition: opacity 150ms;
}
.restaurant-name__text--heart-empty:hover {
  opacity: 0;
}
.restaurant-name__text--heart-empty:hover + .restaurant-name__text--heart-filled {
  transform: scale(1);
}
.restaurant-name__text--heart-filled {
  color: #FF79DA;
  transform: scale(0);
  transition: transform 250ms;
}

.dish-type {
  display: inline-block;
  position: relative;
  color: grey;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 0px 0 20px 0;
}
.dish-type::before {
  content: "";
  position: absolute;
  width: 45px;
  bottom: -8px;
  left: 0;
  border-bottom: 3px solid lightgrey;
}
.dish-type__dish-card {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 10px lightgrey;
  margin: 8px 0 8px 0;
  cursor: pointer;
  animation: menu-rollup 1000ms 500ms both;
}
.dish-type__dish-card:hover > .dish-type__dish-card--animation {
  min-width: 70px;
  transform: translateX(0px);
}
.dish-type__dish-card:hover > .dish-type__dish-card--animation i {
  transform: rotate(1turn);
}
.dish-type__dish-card--1 {
  animation-delay: 250ms;
}
.dish-type__dish-card--2 {
  animation-delay: 500ms;
}
.dish-type__dish-card--3 {
  animation-delay: 750ms;
}
.dish-type__dish-card--4 {
  animation-delay: 1000ms;
}
.dish-type__dish-card:hover > .dish-type__dish-card--price {
  transform: translateX(0);
}
.dish-type__dish-card--details {
  width: max-content;
  min-width: 0;
  font-size: 1.15em;
  font-weight: bold;
  margin: auto 10px auto 10px;
}
.dish-type__dish-card--details h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-type__dish-card--details p {
  font-size: 0.95em;
  color: grey;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-type__dish-card--price {
  width: max-content;
  margin: auto 15px 12px auto;
  font-size: 0.95em;
  font-weight: bold;
}
.dish-type__dish-card--animation {
  height: 70px;
  width: 0px;
  min-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  transform: translateX(70px);
  transition: all 600ms ease;
}
.dish-type__dish-card--animation i {
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  transform: rotate(0turn);
  transition: transform 600ms ease;
}

.footer {
  color: white;
  background-color: #353535;
  padding: 20px 0 25px 20px;
}
.footer__container {
  max-width: 1440px;
  margin: 0 auto 0 auto;
}
.footer__container--logo {
  font-size: 1.1em;
  margin-bottom: 15px;
}
.footer__container--list {
  font-size: 0.95em;
  line-height: 25px;
}

.footer-list__icon-a {
  font-weight: bold;
}
.footer-list__icon-a i {
  font-size: 0.7em;
  margin-right: 11px;
}
.footer-list__icon-b {
  font-weight: bold;
}
.footer-list__icon-b i {
  font-size: 0.6em;
  margin-right: 9px;
}

@keyframes menu-rollup {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes spinner-bg {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner-roll {
  0% {
    transform: translateX(-1450px) scaleX(1.2) scaleY(0.8);
  }
  79% {
    transform-origin: 100% 100%;
    transform: rotate(8deg);
  }
  80% {
    transform: translateX(0px);
  }
  85% {
    transform-origin: 0% 100%;
    transform: rotate(-4deg);
  }
  90% {
    transform-origin: 100% 100%;
    transform: rotate(2deg);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes bell-reveal {
  from {
    transform: translateY(20px) rotate(0deg);
  }
  to {
    transform: translateY(-20px) rotate(-15deg);
  }
}
@keyframes wheels {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(6turn);
  }
}
.header__current-location {
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 10px lightgrey;
}
.header__current-location--text {
  height: 50px;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}
.header__current-location--icon {
  position: relative;
  right: 15px;
}
.header__intro {
  background-color: #f6f6f6;
  padding: 40px 0 50px 0;
}
.header__intro--text {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px auto;
}
.header__intro--text h2 {
  font-size: 1.65em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 30px 0 30px;
}
.header__intro--text p {
  color: grey;
  font-size: 1.2em;
}

.nav {
  width: 88%;
  padding: 50px 0 40px 10px;
}
.nav__title {
  display: inline-flex;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

@media all and (min-width: 870px) {
  .nav {
    width: 95%;
  }
}
@media all and (min-width: 1480px) {
  .nav {
    margin: auto;
    max-width: 1440px;
  }
}
.guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.guide__step {
  height: 75px;
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 3px 10px lightgrey;
  margin: 12px 0 12px 0;
}
.guide__step--number {
  min-height: 30px;
  min-width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 15px;
  z-index: 1;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}
.guide__step i {
  position: absolute;
  left: 40px;
  color: grey;
  font-size: 1.25em;
}
.guide__step--text {
  position: absolute;
  left: 85px;
  margin-right: 15px;
}
.guide__step-lightblue {
  height: 75px;
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  background-color: #f5edff;
  border-radius: 15px;
  box-shadow: 0px 3px 10px lightgrey;
  margin: 12px 0 12px 0;
}
.guide__step-lightblue--number {
  min-height: 30px;
  min-width: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 15px;
  z-index: 1;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}
.guide__step-lightblue i {
  position: absolute;
  left: 40px;
  color: #9356DC;
  font-size: 1.25em;
}
.guide__step-lightblue--text {
  position: absolute;
  left: 85px;
  margin-right: 15px;
}
@media all and (min-width: 870px) {
  .guide__step, .guide__step-lightblue {
    width: 31%;
  }
}

@media all and (min-width: 870px) {
  .guide {
    flex-direction: row;
    justify-content: space-between;
  }
}
.section-index {
  width: 100%;
  background-color: #f6f6f6;
}
.section-index__title {
  align-self: flex-start;
  font-size: 1.5em;
  font-weight: bold;
  margin: 50px auto 0 20px;
}
@media all and (min-width: 1480px) {
  .section-index__title {
    max-width: 1440px;
    margin: 50px auto 0 auto;
  }
}
.section-index__restaurants {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 60px 20px;
  margin: auto;
}
.section-index__restaurants--card {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 0px 3px 10px lightgrey;
  border-radius: 15px;
  margin: 10px 0 10px 0;
}
@media all and (min-width: 576px) {
  .section-index__restaurants--card {
    width: 49%;
  }
}
@media all and (min-width: 1200px) {
  .section-index__restaurants--card {
    width: 24%;
  }
}
@media all and (min-width: 576px) {
  .section-index__restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card-content {
  position: relative;
}
.card-content__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card-content__new {
  position: absolute;
  right: 12px;
  top: 12px;
  width: max-content;
  font-size: 0.8em;
  color: green;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 3px;
}
.card-content__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 12px 5px 12px;
}
.card-content__bottom--text {
  display: flex;
  flex-direction: column;
  font-size: 1.15em;
  line-height: 25px;
  margin-right: auto;
}
.card-content__bottom--text h3 {
  font-weight: bold;
}
.card-content__bottom--heart-empty {
  position: relative;
  left: 24px;
  z-index: 2;
  color: grey;
  align-self: center;
  font-size: 1.5em;
  opacity: 1;
  transition: opacity 150ms;
}
.card-content__bottom--heart-empty:hover {
  opacity: 0;
}
.card-content__bottom--heart-empty:hover + .card-content__bottom--heart-filled {
  transform: scale(1);
}
.card-content__bottom--heart-filled {
  color: #FF79DA;
  align-self: center;
  font-size: 1.5em;
  transform: scale(0);
  transition: transform 250ms;
}

.main-loader {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  background: linear-gradient(180deg, white 0%, #99e2d0 100%);
  z-index: 3;
  animation: spinner-bg 500ms 3400ms both;
}

.animation {
  height: 400px;
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  animation: spinner-roll 1500ms 500ms ease both;
}
.animation__bell {
  width: 200px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background: #e5e7e7;
  background: radial-gradient(circle, #e5e7e7 0%, #d7d9d9 45%, #c1c3c4 90%);
  border: solid 1px black;
  border-radius: 90px 90px 5px 5px;
  box-shadow: 5px 0px 5px lightgrey;
  transform-origin: 0% 100%;
  animation: bell-reveal 700ms 2200ms ease both;
}
.animation__logo {
  font-size: 2em;
  position: absolute;
  top: 80px;
  z-index: 1;
}
.animation__chariot--handle {
  width: 60px;
  height: 10px;
  position: absolute;
  top: 105px;
  left: -10px;
  z-index: 3;
  background: #e5e7e7;
  background: linear-gradient(90deg, #e5e7e7 0%, #d7d9d9 45%, #c1c3c4 90%);
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 5px 0px 5px lightgrey;
  transform: rotate(30deg);
}
.animation__chariot--table {
  width: 250px;
  height: 25px;
  position: absolute;
  top: 120px;
  left: 30px;
  z-index: 2;
  background: #e5e7e7;
  background: radial-gradient(circle, #e5e7e7 0%, #d7d9d9 45%, #c1c3c4 90%);
  border: solid 1px black;
  border-radius: 5px 5px 25% 25%;
  box-shadow: 5px 0px 5px lightgrey;
}
.animation__chariot--leg-1 {
  height: 150px;
  width: 15px;
  position: absolute;
  left: 60px;
  bottom: 105px;
  z-index: 1;
  background: #e5e7e7;
  background: linear-gradient(90deg, #e5e7e7 0%, #d7d9d9 45%, #c1c3c4 90%);
  border: solid 1px black;
  border-radius: 3px;
  box-shadow: 5px 0px 5px lightgrey;
}
.animation__chariot--leg-2 {
  height: 150px;
  width: 15px;
  position: absolute;
  right: 60px;
  bottom: 105px;
  z-index: 1;
  background: #e5e7e7;
  background: linear-gradient(90deg, #e5e7e7 0%, #d7d9d9 45%, #c1c3c4 90%);
  border: solid 1px black;
  border-radius: 3px;
  box-shadow: 5px 0px 5px lightgrey;
}
.animation__chariot--stand {
  width: 230px;
  height: 20px;
  position: absolute;
  left: 40px;
  bottom: 90px;
  z-index: 2;
  background: #e5e7e7;
  background: radial-gradient(circle, #e5e7e7 0%, #d7d9d9 45%, #c1c3c4 90%);
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 5px 0px 5px lightgrey;
}
.animation__chariot--wheel-1 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45px;
  bottom: 50px;
  z-index: 1;
  background-color: black;
  border-radius: 50%;
  box-shadow: 5px 0px 5px lightgrey;
  animation: wheels 1900ms ease-out both;
}
.animation__chariot--wheel-1--inside {
  height: 24px;
  width: 24px;
  background: #e5e7e7;
  background: radial-gradient(circle, #e5e7e7 0%, #d7d9d9 45%, #c1c3c4 90%);
  border-radius: 50%;
}
.animation__chariot--wheel-1--inside::before {
  content: "";
  height: 3px;
  width: 28px;
  background-color: black;
  position: absolute;
  left: 9px;
  transform-origin: left;
  transform: rotate(45deg);
}
.animation__chariot--wheel-1--inside::after {
  content: "";
  height: 28px;
  width: 3px;
  background-color: black;
  position: absolute;
  bottom: 9px;
  transform-origin: bottom;
  transform: rotate(45deg);
}
.animation__chariot--wheel-2 {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 45px;
  bottom: 50px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 5px 0px 5px lightgrey;
  animation: wheels 1900ms ease-out both;
}

/*# sourceMappingURL=style.css.map */
