@import "./../utils/variables";
@import "./../utils/mixins";
.header {
    &__current-location {
        background-color: $drkbg-color;
        &--text {
            height: 50px;
            display: inline-flex;
            align-items: center;
            font-weight: bold;
        }
        &--icon {
            position: relative;
            right: 15px;
        }
    }
    &__intro {
        background-color: $bg-color;
        padding: 40px 0 50px 0;
        &--text {
            width: 90%;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            h2 {
                font-size: 1.65em;
                font-weight: bold;
                margin-bottom: 10px;
                padding: 0 30px 0 30px;
            }
            p {
                color: grey;
                font-size: 1.2em;
            }
        }
    }
}

.guide {
    height: 440px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 25px 12px 25px;
    &__title {
        display: inline-flex;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 20px
    }
    &__menu {
        &--step {
        @include nav-card;
        i {
                color: grey;
                font-size: 1.25em;
                margin: 0 25px 0 40px;
          }
        }
        &--steplightblue {
            @include nav-card(#f5edff);
            i {
                color: $color-primary;
                font-size: 1.25em;
                margin: 0 25px 0 40px;
            }
        }
    }
}

section {
    width: 100%;
    .restaurants {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $bg-color;
        padding: 70px 20px 60px 20px;
        &__title {
            align-self: flex-start;
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 10px;
        }
        &__card {
            @include restaurant-card;
            &--img {
                width: 100%;
                height: 175px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }
            &__bottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 8px 10px 5px 12px;
                &--text {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    font-size: 1.15em;
                    line-height: 25px;
                    h3 {
                        font-weight: bold;
                    }
                }
                &--heart
                {
                    color: $color-secondary;
                    align-self: center;
                    font-size: 1.5em;
                }
            }
        }
    }
}